.container {
  display: flex;
  border-left: 4px solid #ebebeb;
  border-bottom: 3px solid #ebebeb;
  padding-left: 10px;
  width: 40%;
  align-items: flex-end;
  margin-left: 20px;

  &__skeleton {
    padding-left: 10px;
  }
}
