.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  cursor: pointer;
  background: #fff;
  border-radius: 16px;
  flex: 30%;
  height: 125px;
  display: flex;

  &__skeleton {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: 1rem;
    min-width: 107px;
  }

  &__summary {
    display: flex;
    flex-direction: column;

    & > div:first-child {
      display: flex;
      flex-direction: column;
      flex: 2;
      justify-content: center;
    }
  }

  &__value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #535353;
  }

  &__title {
    color: #D1D1D1;
    font-size: 1rem;
    font-weight: bold;
  }

  &__compare-container {
    display: flex;
    flex: 1;
    gap: 5px;
  }

  &__compare__up {
    color: #34C636;
  }

  &__compare__down {
    color: #FF5252;
  }

  &__compare-description {
    color: #D1D1D1;
    font-size: 0.85rem;
  }
}

.skeleton-container {
  cursor: pointer;
  background: #fff;
  border-radius: 16px;
  width: 375px;
  height: 125px;
  display: flex;
}

@media only screen and (max-device-width: 960px){
  .card {
    cursor: pointer;
    background: #fff;
    border-radius: 16px;
    flex: 40%;
    height: 125px;
    display: flex;
  }

  .skeleton-container {
    flex: 40%;
  }
}
