.aside {
  flex: 2;
  background-color: #fff;
  height: 100%;
  color: #D1D1D1;
}

.content {
  flex: 10;
  background: #F7F7F7;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 2rem;
  color: #000;
}

@media only screen and (max-device-width: 960px){
  .aside {
    display: none;
  }

  .content {
    padding: 1rem;
  }
}


