.customers {

  height: 100%;
  width: 100%;

  &__header {
    color: #535353;
    display: flex;
    flex-wrap: wrap;

    & > div:first-child {
      flex: 1;
    }
  }

  &__content {
    padding-bottom: 1rem;
  }

  &__row {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 1rem;
    cursor: pointer;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__metric-container {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex: 40%;
    display: flex;
    flex-direction: column;
    color: #A7A7A7;
    min-height: 300px;
    height: auto;

    & > span:first-child {
      padding: 2rem 2rem 1rem;
    }

  }
}

