.picker {
  & span {
    color: var(--dark-gray);
  }

  & input {
    background: var(--white);
    color: var(--dark-gray);
  }

  &__container {
    position: absolute;
    top: 32px;
    z-index: 9999;
    right: 0;
  }
}

.container {
  position: relative;
  display: flex;
  gap: 8px;
  cursor: pointer;
  color: var(--secondary-color);

  &__date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
