.table {

  margin: 0 1rem;
  border-collapse: separate;
  border-spacing: 0 10px;

  & thead {
    font-size: 0.75rem;
    color: var(--light-gray);
  }

  & th {
    letter-spacing: 2px;
    padding: 0rem 0.5rem 0.75rem;
  }
  & td {
    letter-spacing: 1px;
    padding: 0.5rem 0.5rem 0.5rem;
  }
  & tbody {
    td {
      text-align: center;
      font-size: 0.85rem;
      color: var(--dark-gray);
    }
    tr {
      background: var(--white);
      transform: scale(1,1);
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
  }

}


